<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid col-12">
    <a routerLink="/" class="nav-brand col-2 link nav-link text-danger">
      FakeStore
    </a>
    <div class="col-9 d-flex justify-content-around align-items-center text-danger text-uppercase">
      <a routerLink="/products" class="link nav-link ">Products</a>
      <a routerLink="/profile" class="link nav-link" >Profile</a>
      <a routerLink="/login" class="link nav-link">Login</a>
    </div>
  </div>
</nav>
