<section class="vh-100 pt-3 pb-3">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col col-lg-8 mb-3 mb-lg-0">
        <div class="card mb-3" style="border-radius: .6rem;">
          <div class="row g-0">
            <div class="col-md-4 bg-danger text-center text-white"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="assets/images/image.jpg"
                   alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 80px;" />
              <h5>{{username}}</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="text-danger">Email</h6>
                    <p class="text-muted">{{email}}</p>
                    <h6 class="text-danger">Phone</h6>
                    <p class="text-muted">{{phone}}</p>
                  </div>
                </div>
                <h6 class="text-danger">User</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="text-danger">First Name</h6>
                    <p class="text-muted">{{name.firstName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="text-danger">Second Name</h6>
                    <p class="text-muted">{{name.lastName}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3 text-danger"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3 text-danger"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg text-danger"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
